<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      calculator :)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- <ion-button size = large shape = round>-</ion-button>
  <ion-button size = large shape = round>x</ion-button>
  <ion-button size = large shape = round>/</ion-button> -->
 
<ion-button (click) ="math(9)" size = large>9</ion-button>
<ion-button (click) ="math(8)" size = large>8</ion-button>
<ion-button (click) ="math(7)" size = large>7</ion-button>
<ion-button (click) = "operator('+')" size = large>+</ion-button>
<br>
<ion-button (click) ="math(6)" size = large>6</ion-button>
<ion-button (click) ="math(5)" size = large>5</ion-button>
<ion-button (click) ="math(4)" size = large>4</ion-button>
<ion-button (click) = "operator('-')" size = large>-</ion-button>
<br>
<ion-button (click) ="math(3)" size = large>3</ion-button>
<ion-button (click) ="math(2)" size = large>2</ion-button>
<ion-button (click) ="math(1)" size = large>1</ion-button>
<ion-button (click) = "operator('*')" size = large>*</ion-button>
<br>
<ion-button (click) ="math(0)" size = large>0</ion-button>
<ion-button (click) = "operator('/')" size = large>/</ion-button>
<ion-button size = large>.</ion-button>
<ion-button (click) = "operator('=')" size = large>=</ion-button>

<ion-input value="{{this.output}}" [(ngModel)] = "text">


  <ion-button (click) ="changePage()">mock-up page</ion-button>